<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

    <title>About</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Homepage</a></li>
        <li><a href="/about" class="current-page">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <section id="biography-content">
      <h2 class="biography-section">Early Years</h2>
      <ul>
          <li>Was born in Beirut, Lebanon;</li>
          <li>Attended four high schools in just 5 years;</li>
          <li>Played ice hockey as a goalkeeper at De La Salle College;</li>
          <li>Attended Avondale Secondary Alternative Schoo while working as an actor. He later dropped out, not
              obtaining a high school diploma;</li>
          <li>Made his screen acting debut in an episode of <b>"Hangin' In"</b>;</li>
          <li>Was expelled from Etobicoke School of the Arts, according to him, due to being "just a little too
              rambunctious and shot [his] mouth off once too often... [he] was not generally the most well-oiled
              machine in the school";</li>

      </ul>
      <h2 class="biography-section">Career</h2>
      <ul>
        <li>His first studio movie appearance was <b>"Youngblood"</b> (1986), playing a Québécois goalie;</li>
          <li>Received a sizable role in the 1986 drama film <b>"River's Edge"</b>;</li>
          <li>Played bass guitar in the alternative rock band <b>Dogstar</b>;</li>
          <li> appeared in high-budget action films such as Point Break, for which he won MTV's "Most Desirable
              Male" award in 1992;</li>
          <li>Got a starring role in the action film <b>"Speed"</b>;</li>
          <li>Starred in <b>"The Matrix"</b>, which was a box office success and attracted positive reviews at the
              time (1999);</li>
      </ul>
      <h2 class="biography-section">Personal Life</h2>
      <ul>
          <img id="keanu-meme" src="https://images7.memedroid.com/images/UPLOADED160/554fa2b2530fa.jpeg"
              alt="Keanu Reeves Conspiracy Meme">
          <li>Became an internet meme;</li>
          <li>Has occasionally expressed a belief in God or some
              other higher power, stating that he believes in God and the Devil, but "they don't have to have
              pitchforks and a long white beard.";</li>
          <li>Was sued in 2008 by a papparazzi. The lawsuit took 1 year and a half to make it to trial, being that
              12 jurors rejected the suit, needing only an hour of deliberation to reach their verdict;</li>
          <li>Set up a cancer charity, choosing not to attach his name to the organization; He also supported
              PETA, the SickKids Foundation, and Stand Up to Cancer; Said that his sister had battled leukemia for
              more than a decade;</li>
          <li>Co-founded <b>Arch Motorcycle Company</b>, which builds and sells custom motorcycles;</li>
          <li>Co-founded a production company called <b>Company Films</b>, which helped produce <b>Henry's
                  Crime</b>, a film in which he starred;</li>
      </ul>
      <br> <hr>
</section>
<footer>
  <p><i>The information about Keanu Reeves used in this webpage can be found in <a id="tribute-link" href="https://en.wikipedia.org/wiki/Keanu_Reeves" target="_blank">this Wikipedia webpage</a><i></p>
</footer>
  </body>
</html>
