<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Homepage - Keanu Reeves</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home" class="current-page">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <main id="main">
      <h1 id="title">Keanu Reeves</h1>
      <figure id="img-div">
          <img id="image"
              src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/90/Keanu_Reeves_%28crop_and_levels%29_%28cropped%29.jpg/220px-Keanu_Reeves_%28crop_and_levels%29_%28cropped%29.jpg"
              alt="Portrait of Keanu Reeves" />
          <figcaption id="img-caption"><i>Actor Keanu Reeves in 2015</i></figcaption>
      </figure>
      <hr>
      <section id="tribute-info">
          <h2>Personal Information</h2>
          <table id="table-personal-details">
              <tr>
                  <th>Full Name</th>
                  <th>Keanu Charles Reeves</th>
              </tr>
              <tr>
                  <th>Birthdate</th>
                  <th>September 2, 1964</th>
              </tr>
              <tr>
                  <th>Residence</th>
                  <th>Hollywood Hills, California, U.S.</th>
              </tr>
              <tr>
                  <th>Citizenship</th>
                  <th>Canada - United States</th>
              </tr>
              <tr>
                  <th>Occupation</th>
                  <th>Actor | Musician</th>
              </tr>
              <tr>
                  <th>Years Active</th>
                  <th>1984–present</th>
              </tr>
              <tr>
                  <th>Partner(s)</th>
                  <th>Jennifer Syme (1998–2000)</th>
              </tr>
          </table>
          <p><i>For more information on Reeves, check his dedicated page on Wikipedia. You can access it through <a
                      href="https://en.wikipedia.org/wiki/Keanu_Reeves" target="_blank">this link.</a></i>
                    </p>
                    <br> <hr>
      </section>
  </main>
    <footer>
        <p><i>The information about Keanu Reeves used in this webpage can be found in <a id="tribute-link" href="https://en.wikipedia.org/wiki/Keanu_Reeves" target="_blank">this Wikipedia webpage</a><i></p>
    </footer>
</body>
</html>
