<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Works</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/home">Homepage</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works" class="current-page">Works</a></li>
        <li><a href="/photo-gallery">Photo Gallery</a></li>
      </ul>
    </nav>
    <section id="biography-content">      
      <h2 class="biography-section">Filmography</h2>
      <ul><li><a href="https://en.wikipedia.org/wiki/Keanu_Reeves_filmography" target="_blank">Click here for his full
        filmography</a> (link redirects to his dedicated page on Wikipedia);</li></ul>
      <h2 class="biography-section">Future Projects</h2>
      <ul> <li>Reeves will portray the character Johnny Silverhand in the video game <a
              href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=12&cad=rja&uact=8&ved=2ahUKEwjHyL2v15TjAhUGnhQKHVnEDk0QFjALegQIABAB&url=https%3A%2F%2Fkotaku.com%2Fkeanu-reeves-is-in-cyberpunk-2077-1835358305&usg=AOvVaw0OpffrQpNwgzSRe6UTV-t3"
              target="_blank">Cyberpunk 2077</a>; The game is expected to come out in 2020;</li></ul><br> <hr>
</section>

<footer>
  <p><i>The information about Keanu Reeves used in this webpage can be found in <a id="tribute-link" href="https://en.wikipedia.org/wiki/Keanu_Reeves" target="_blank">this Wikipedia webpage</a><i></p>
</footer>
  </body>
</html>
